{% extends 'base.html.twig' %}

{% block title %} La recette de {{ recipe.name }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ recipe.name }} 👩‍🍳</h1>

    Pour faire cette recette il te faudra {{recipe.preparationtime}} minutes de préparation dont {{recipe.cookingtime}} de cuisson !
    <ul>
    <li>Difficulté : {{recipe.difficulty}} / 10 !</li>
    <li>Type : {{recipe.type}}</li>
    <li>Note : {{recipe.rating}}/5</li>

    Pour cette recette tu auras besoin de : 
    {% for ingredient in recipe.ingredients %}

        {{ingredient.name}} /

    {% endfor %}
    {{dump()}}
    

    
        
    </ul>
</div>
{% endblock %}
